[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting
[submodule "zsh-colored-man-pages"]
	path = zsh-colored-man-pages
	url = https://github.com/ael-code/zsh-colored-man-pages
[submodule "zsh-fsh"]
	path = zsh-fsh
	url = https://github.com/catppuccin/zsh-fsh
[submodule "fzf-tab"]
	path = fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
